@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/general-sans");

* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: "General Sans", sans-serif;
}

@utility c-space {
  padding-inline: theme(spacing.5);

  @variant sm {
    padding-inline: theme(spacing.10);
  }
}

@utility head-text {
  @apply text-gray_gradient;
  font-size: 1.875rem; /* text-3xl */
  font-weight: 600;

  @variant sm {
    font-size: 2.25rem; /* sm:text-4xl */
  }
}

@utility nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: theme(spacing.4);
  position: relative;
  z-index: 20;

  @variant sm {
    flex-direction: row;
  }

  @variant md {
    gap: theme(spacing.6);
  }
}

@utility nav-li {
  color: theme(colors.neutral.400);
  font-family: var(--font-generalsans);
  padding-block: theme(spacing.2);

  @variant max-[640px] {
    width: 100%;
    padding-inline: theme(spacing.5);
    border-radius: theme(borderRadius.md);

    &:hover {
      background-color: theme(colors.black / 0.5);
    }
  }

  @variant hover {
    color: theme(colors.white);
  }
}

@utility nav-li_a {
  font-size: theme(fontSize.lg);

  @variant md {
    font-size: theme(fontSize.base);
  }

  @variant hover {
    color: theme(colors.white);
  }

  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@utility nav-sidebar {
  position: absolute;
  left: 0;
  right: 0;
  background-color: theme(colors.neutral.900);
  backdrop-filter: blur(theme(backdropBlur.sm));
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  z-index: 20;

  @variant sm {
    display: none;
  }

  /* For mobile: */
  display: block;
}

@utility text-gray_gradient {
  background-image: linear-gradient(
    to right,
    #bec1cf 60%,
    #d5d8ea 60%,
    #d5d8ea 100%
  );
  background-clip: text;
  color: transparent;
}

@utility hero_tag {
  text-align: center;
  font-family: var(--font-generalsans);
  font-weight: 900;
  line-height: 1.5; /* leading-normal = 1.5 */
  font-size: 1.875rem; /* text-3xl */

  @variant sm {
    font-size: 2.25rem; /* sm:text-4xl */
  }

  @variant md {
    font-size: 3rem; /* md:text-5xl */
  }

  @variant xl {
    font-size: 3.75rem; /* xl:text-6xl */
  }
}

@utility btn {
  display: flex;
  gap: theme(spacing.4);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: theme(spacing.3);
  border-radius: theme(borderRadius.md);
  background-color: theme(colors.neutral.800);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  color: theme(colors.white);
  margin-inline: auto;

  @variant active {
    transform: scale(0.95);
  }
}

@utility btn-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  position: absolute;
  display: inline-flex;
  height: 100%;
  width: 100%;
  border-radius: 9999px;
  background-color: theme(colors.green.400);
  opacity: 0.75;
}

@utility btn-ping_dot {
  position: relative;
  display: inline-flex;
  border-radius: 9999px;
  height: theme(spacing.3);
  width: theme(spacing.3);
  background-color: theme(colors.green.500);
}

@utility grid-container {
  width: 100%;
  height: 100%;
  border: 1px solid theme(colors.neutral.700);
  background-color: theme(colors.neutral.950);
  border-radius: theme(borderRadius.lg);
  padding: theme(spacing.4);
  display: flex;
  flex-direction: column;
  gap: theme(spacing.5);

  @variant sm {
    padding: theme(spacing.7);
  }
}

@utility grid-headtext {
  font-size: theme(fontSize.xl);
  font-weight: 600;
  margin-bottom: theme(spacing.2);
  color: theme(colors.white);
  font-family: var(--font-generalsans);
}

@utility grid-subtext {
  color: #afb0b6;
  font-size: theme(fontSize.base);
  font-family: var(--font-generalsans);
}

@utility copy-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: theme(spacing.2);
}

@utility tech-logo {
  width: theme(spacing.10);
  height: theme(spacing.10);
  border-radius: theme(borderRadius.md);
  padding: theme(spacing.2);
  background-color: theme(colors.neutral.100 / 0.1);
  backdrop-filter: blur(theme(backdropBlur.lg));
  display: flex;
  justify-content: center;
  align-items: center;
}
@utility arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

@utility arrow-btn {
  width: theme(spacing.10);
  height: theme(spacing.10);
  padding: theme(spacing.3);
  cursor: pointer;
  transition-property: all;
  transition-duration: 150ms;
  border-radius: 9999px;
  @variant active {
    transform: scale(0.95);
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
