@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/general-sans");



* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: "General Sans", sans-serif;
}

@utility c-space {
  padding-inline: theme(spacing.5);

  @variant sm {
    padding-inline: theme(spacing.10);
  }
}


@utility nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: theme(spacing.4);
  position: relative;
  z-index: 20;

  @variant sm {
    flex-direction: row;
  }

  @variant md {
    gap: theme(spacing.6);
  }
}

@utility nav-li {
  color: theme(colors.neutral.400);
  font-family: var(--font-generalsans);
  padding-block: theme(spacing.2);
  
  @variant max-[640px] {
    width: 100%;
    padding-inline: theme(spacing.5);
    border-radius: theme(borderRadius.md);
    
    &:hover {
      background-color: theme(colors.black / 0.5);
    }
  }
  
  @variant hover {
    color: theme(colors.white);
  }
}

@utility nav-li_a {
  font-size: theme(fontSize.lg);
  
  @variant md {
    font-size: theme(fontSize.base);
  }
  
  @variant hover {
    color: theme(colors.white);
  }
  
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}


@utility nav-sidebar {
  position: absolute;
  left: 0;
  right: 0;
  background-color: theme(colors.neutral.900);
  backdrop-filter: blur(theme(backdropBlur.sm));
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  z-index: 20;
  
  
  @variant sm {
    display: none;
  }
  
  /* For mobile: */
  display: block;
}

@utility text-gray_gradient {
  background-image: linear-gradient(to right, #BEC1CF 60%, #D5D8EA 60%, #D5D8EA 100%);
  background-clip: text;
  color: transparent;
}

@utility hero_tag {
  text-align: center;
  font-family: var(--font-generalsans);
  font-weight: 900;
  line-height: 1.5;  /* leading-normal = 1.5 */
  font-size: 1.875rem;  /* text-3xl */
  
  @variant sm {
    font-size: 2.25rem;  /* sm:text-4xl */
  }
  
  @variant md {
    font-size: 3rem;     /* md:text-5xl */
  }
  
  @variant xl {
    font-size: 3.75rem;  /* xl:text-6xl */
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}


@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}